/* 1.2 Section styling */
.section,
.section-alt {
  margin: 0 auto;
  padding: 75px 0;
  position: relative; }

/* .section { background-color: rgba(120, 42, 125, 0.66);
} */
.section-alt {
  background-color: #EFA01F; }

.section-title {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 2.250em;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  letter-spacing: 0.1em; }

.section-title .cool {
  line-height: 1.7em; }

.section-content {
  margin-top: 30px; }

.section h3,
.section-alt h3 {
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.section h4,
.section-alt h4 {
  font-size: 1em;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.column > :first-child {
  margin-top: 0; }
