/* 2. Intro */
#intro {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: #782A7D; */
  color: #fff;
  background: url("../img/bg.jpg") 40% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#intro:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(63, 81, 181, 0.3); }

#intro .line {
  background-color: #5b9bbc; }

#intro .bullet {
  color: #5b9bbc; }

#intro a {
  color: #5b9bbc; }
