/* 7. Portfolio */
#portfolio .line {
  background-color: #74297B; }

#portfolio .bullet {
  color: #74297B; }

#portfolio a {
  color: #74297B;
  display: block;
  padding: 5px;
  /* border: 1px solid #000; */
  max-width: 170px;
  width: 100%;
  max-height: 190px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#portfolio a:hover img {
  -webkit-box-shadow: 0 0 25px black;
          box-shadow: 0 0 25px black; }

#portfolio a img {
  max-width: 170px;
  width: 100%;
  min-height: 170px;
  max-height: 180px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#portfolio {
  min-height: 650px; }

.project {
  opacity: 0;
  display: none;
  text-align: center;
  max-height: 210px;
  margin-bottom: 10px; }

.filters {
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  BACKGROUND: #782a7d;
  padding: 10px;
  border-radius: 10px; }

.filters li {
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em; }

.filters li:hover, .filters li.active {
  color: #377AAF;
  font-weight: bold; }

.filters li:before {
  content: "\2022";
  padding: 0 10px;
  color: #74297B; }

.filters li:first-child:before {
  content: "";
  padding: 0; }
