/* 8. Contact */
#contact {
  background-color: #377AAF;
  /* min-height: 80%; */
  color: #fff; }

#contact h2, #contact h3, #contact h4 {
  color: #fff; }

#contact .line {
  background-color: #5b9bbc; }

#contact .bullet {
  color: #5b9bbc; }

#contact a {
  color: #5b9bbc; }

#contact input[type="text"], #contact textarea {
  background-color: #fff; }
