/* 5. Experience */

#experience .line { background-color: #e76270; }
#experience .bullet { color: #e76270; }
#experience a { color: #e76270; }

.job h3 {
	margin: 0 0 10px 0;
	text-align: center;
}

.job-attributions {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.job-period { text-align: right; }

.job-project { text-align: center; }
