.testimonials .owl-controls{
	display:none;
}
/*MAIN*/
.tp-caption.large{
	text-align: center;
}
.services-1 h3{
	font-size: 14px;
}
.services-1 .col-wrapper{
	padding: 0;
}
.navbar.default{
	top:0;
}
/*MAIN*/
/*SHOWCASE*/
.owl-carousel .owl-item img{
	    max-height: 600px;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.pcw .inner{
	padding-top: 0;
}
.fix-portfolio .items li img{
	width: 440px;
	height: 330px;
}
.fix-portfolio .items li{
/*	width: 150px;*/
}
.fix-portfolio .items li img{
/*	height: 145px;
	width: 130px;*/
}
/*SHOWCASE*/
/*FOOTER*/
.social li{
	font-family: 'Raleway', sans-serif;
}
.social li a{
	font-size: 20px;
}
/*FOOTER*/