*{
	font-family: 'Montserrat';
}
.testimonials .owl-controls{
	display:none;
}
.navbar-header{
	background: url('../images/menu.jpg');
	background-position-x: 50%;
	background-repeat: no-repeat;
	/*background: #9a1f1f;*/
}
.navbar .navbar-collapse{
		background: url('../images/menu.jpg');
}
.navbar.fixed .navbar-collapse .navbar-nav{
	overflow-y: unset;
}
.navbar-brand{
	/*position: relative;*/
	background:#fff;
    /*background-position-x: 45%;*/
}

.navbar-brand:hover{
/*	background: url('../images/menu.jpg');
	background-position-x: 95%;*/
	background:#fff;
}
.navbar-nav > li > a{
	font-size: 20px;
}

.parallelogram {
    width: 160px;
    height: 100px;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}
.parallelogram img{
	    width: 100%;
    max-width: 75px;
        margin: 0 0 0 15px;
        -webkit-transform: skew(-30eg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}

.tp-caption.large{
	text-align: center;
}
.tp-caption.large,.tp-caption.small,.btn.btn-border{
	color: #fff;
}
.tp-simpleresponsive >ul >li{
	/*top:10% !important;*/
}
/*MAIN*/
.tp-caption.large{
	text-align: center;
}
.services-1 h3{
	font-size: 14px;
}
.services-1 .col-wrapper{
	padding: 0;
}
.navbar.default{
	top:0;
}
.parallax.parallax3{
	background: url('../images/1pt.jpg');
}
.parallax.parallax3:before{
	content: '';
	position: absolute;
	background: rgb(0,0,0,0.7);
	    height: 100%;
    width: 100%;
}
.testimonials .item blockquote{
	padding-left: 0;
	padding-right: 0;
	font-size: 14px;
}
.testimonials .item blockquote:after{
	top: 80%;
}
.testimonials .item blockquote:before {
    top: -30px;}

.budicon-image{
	width: 75px;
	height: 75px;
	background: url(../images/timer.png);
}
/*MAIN*/
/*SHOWCASE*/
.owl-carousel .owl-item img{
	max-height: 600px;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.pcw .inner{
	padding-top: 0;
}
.fix-portfolio .items li img{
/*	width: 440px;
	height: 330px;*/
}
/*SHOWCASE*/
/*FOOTER*/
.social li{
	font-family: 'Raleway', sans-serif;
}
.social li a{
	font-size: 20px;
}
/*FOOTER*/

@media (max-width: 767px){
.inner {
    padding-top: 95px;}}
    .fix-portfolio .items{
    	min-height: 640px;
    }